@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

//Variables
$Soft-red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);
$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Very-pale-orange: hsl(33, 100%, 98%);
$Primary-font: "DM Sans", sans-serif;
$Default-weight: 400;
$Bold-weight: 700;

//Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: $Primary-font;
  background-color: $Cream;
}

//FrontendMentor
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
